@import "tailwindcss";

@theme {
  --color-primary: #13ec5b;
  --color-background-light: #f6f8f6;
  --color-background-dark: #102216;
  --color-card-dark: #162e1e;
  --color-text-primary: #e2e8f0;
  --color-text-secondary: #94a3b8;
  --font-display: "Manrope", sans-serif;
}

body {
  min-height: max(884px, 100dvh);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
